@use '@angular/material' as mat;

$anms-light-theme: mat.define-theme(
  (
    color: (
      primary: mat.$red-palette,
      tertiary: mat.$yellow-palette
    )
  )
);

html .light-theme {
  @include mat.all-component-colors($anms-light-theme);
  @include mat.system-level-colors($anms-light-theme);
}
