@let stagger = animationsService.stagger();
<div class="container" rtl>
  <h1>{{ 'anms.examples.crud.title' | translate }}</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>{{ 'anms.examples.crud.subtitle1' | translate }}</h2>
      @for (book of (books$ | async); track book; let i = $index) {
        <mat-card [animate.enter]="stagger" [ngStyle]="{ '--index': i }"
                  (click)=select(book)>
          <h3>{{ book.title }}</h3>
          <small>{{ book.author }}</small>
        </mat-card>
      }
      @if ((books$ | async)?.length === 0) {
        <p>{{ 'anms.examples.crud.empty' | translate }}</p>
      }
      @if (!isEditing) {
        <button type="button" mat-fab color="primary" class="add" [animate.enter]="stagger" style="--index: 1;"
                (click)="addNew()">
          <fa-icon icon="plus" />
        </button>
      }
    </div>
    <div class="col-md-6">
      <span class="d-flex justify-content-between">
        <h2>{{ 'anms.examples.crud.subtitle2' | translate }}</h2>
        <span class="d-flex justify-content-end">
          @if (selectedBook$ | async; as selectedBook) {
            <span>
              @if (!isEditing) {
                <button mat-icon-button color="accent" (click)="edit(selectedBook)">
                  <fa-icon icon="edit" [matTooltip]="'anms.examples.crud.tooltip.edit' | translate"
                           matTooltipPosition="above" />
                </button>
              }
              <button mat-icon-button color="warn" (click)="delete(selectedBook)">
                <fa-icon icon="trash" [matTooltip]="'anms.examples.crud.tooltip.delete' | translate"
                         matTooltipPosition="above" />
              </button>
              <button mat-icon-button (click)="deselect()">
                <fa-icon icon="times" [matTooltip]="'anms.examples.crud.tooltip.deselect' | translate"
                         matTooltipPosition="above" />
              </button>
            </span>
          }
        </span>
      </span>

      <form [formGroup]="bookFormGroup" [style.display]="isEditing ? 'block' : 'none'"
            [animate.enter]="stagger" style="--index: 2;">
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'anms.examples.crud.placeholder1' | translate }}"
                   formControlName="title" required autofocus>
            @if (bookFormGroup.get('title')?.invalid) {
              <mat-error>
                {{ 'anms.examples.crud.placeholder1' | translate }}
                {{ 'anms.examples.crud.error' | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'anms.examples.crud.placeholder2' | translate }}"
                   formControlName="author" required>
            @if (bookFormGroup.get('author')?.hasError('required')) {
              <mat-error>
                {{ 'anms.examples.crud.placeholder2' | translate }}
                {{ 'anms.examples.crud.error' | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <textarea matInput placeholder="{{ 'anms.examples.crud.placeholder3' | translate }}"
                      formControlName="description" rows="5"></textarea>
            @if (bookFormGroup.get('description')?.invalid) {
              <mat-error>
                {{ 'anms.examples.crud.placeholder1' | translate }}
                {{ 'anms.examples.crud.error' | translate }}
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <button (click)="save()" mat-raised-button color="primary">
              {{ 'anms.examples.crud.save' | translate }}
            </button>
            <button (click)="cancelEditing()" mat-raised-button>
              {{ 'anms.examples.crud.cancel' | translate }}
            </button>
          </div>
        </div>
      </form>

      @if (!isEditing) {
        @if (selectedBook$ | async; as selectedBook) {
          <div [animate.enter]="stagger" style="--index: 3;">
            <h3>{{ selectedBook.title }}</h3>
            <mat-divider />
            <p>{{ selectedBook.description }}</p>
            <i>{{ selectedBook.author }}</i>
          </div>
        } @else {
          <p [animate.enter]="stagger" style="--index: 4;">
            {{ 'anms.examples.crud.text' | translate }} <code>&#64;ngrx/entity</code>.
          </p>
        }
      }

    </div>
  </div>
</div>
