<div class="container">
  <div class="row" rtl>
    <div class="col-sm-12"><h1>{{ 'anms.settings.title' | translate }}</h1></div>
  </div>
  <br>
    @if (settings$ | async; as settings) {
      <div class="row" rtl>
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
          <h2>{{ 'anms.settings.general.title' | translate }}</h2>
          <div class="icon-form-field">
            <mat-icon color="accent"><fa-icon icon="language" color="accent" /></mat-icon>
            <mat-form-field>
              <mat-select [placeholder]="'anms.settings.general.placeholder' | translate"
                [ngModel]="settings.language"
                (selectionChange)="onLanguageSelect($event)"
                name="language">
                @for (l of languages; track l) {
                  <!-- ngFor hack of missing ngLet of Angular -->
                  @for (title of ['anms.settings.general.language.' + l.value | translate]; track title) {
                    <mat-option
                      [value]="l.value"
                  [title]="title !== l.label
                    ? title
                    : ''">
                      {{ l.label }}
                    </mat-option>
                  }
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="icon-form-field">
            <mat-icon color="accent"><fa-icon icon="bars" color="accent" /></mat-icon>
            <mat-label>{{ 'anms.settings.themes.sticky-header' | translate }}
            </mat-label>
            <mat-slide-toggle [checked]="settings.stickyHeader"
              (change)="onStickyHeaderToggle($event)" />
          </div>
        </div>
      </div>
      <div class="row"  rtl>
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
          <h2>{{ 'anms.settings.themes.title' | translate }}</h2>
          <div class="icon-form-field">
            <mat-icon color="accent"><fa-icon icon="paint-brush" color="accent" /></mat-icon>
            <mat-form-field>
              <mat-select [placeholder]="'anms.settings.themes.placeholder' | translate"
                [ngModel]="settings.theme"
                (selectionChange)="onThemeSelect($event)"
                name="themes">
                @for (t of themes; track t) {
                  <mat-option [value]="t.value">
                    {{ 'anms.settings.themes.' + t.label | translate }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="icon-form-field">
            <mat-icon color="accent"><fa-icon icon="lightbulb" color="accent" /></mat-icon>
            <mat-label>{{ 'anms.settings.themes.night-mode' | translate }}
            </mat-label>
            <mat-slide-toggle [checked]="settings.autoNightMode"
              (change)="onAutoNightModeToggle($event)" />
          </div>
        </div>
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
          <h2>{{ 'anms.settings.animations.title' | translate }}</h2>
          <div class="icon-form-field">
            <mat-icon color="accent"><mat-icon color="accent"><fa-icon icon="window-maximize" /></mat-icon></mat-icon>
            <mat-label>{{ 'anms.settings.animations.page' | translate }}
            </mat-label>
            @if (settings.pageAnimationsDisabled) {
              <mat-slide-toggle matTooltip="Sorry, this feature is disabled in IE, EDGE and Safari"
                matTooltipPosition="before"
                disabled />
            }
            @if (!settings.pageAnimationsDisabled) {
              <mat-slide-toggle [checked]="settings.pageAnimations"
                (change)="onPageAnimationsToggle($event)" />
            }
          </div>
          <div class="icon-form-field">
            <mat-icon color="accent"><fa-icon icon="stream" color="accent" /></mat-icon>
            <mat-label>{{ 'anms.settings.animations.elements' | translate }}
            </mat-label>
            <mat-slide-toggle [checked]="settings.elementsAnimations"
              (change)="onElementsAnimationsToggle($event)" />
          </div>
        </div>
      </div>
    }
  </div>
